<div class="col-6 mx-auto mt-5" >
 <h1>welcome to Bookers !!</h1>
 <h5>In Bookers,</br>
 you can share and exchange your opinions , inpressions , and emotions</br>
 about various books!</h5>
 <div class="text-center ">
   <p><a class="btn btn-info w-75" href="/users/sign_in">Log in</a></p>
   <p><a class="btn btn-success w-75" href="/users/sign_up">Sign Up</a></p>
 </div>
</div>